@{
    Layout = "_LayoutAdmin";
}
<body>
    <h1 id="tituloIndex">Pedidos @ViewBag.Apartado </h1>
    @Html.ValidationMessage("Estado")
    @foreach(var boleta in (List<Boleta>)ViewBag.Boletas)
    {
        <div class="card">
          <h5 class="card-header">Pedido: @boleta.NroBoleta</h5>
          <div class="card-body">              
                @{int cont = 0;}
                @foreach(var pedido in boleta.Pedidos)
                {
                    if(cont == 0)
                    {
                        <h5 class="card-title" style="text-align: right;">Destino: @pedido.Destino</h5>
                        <h5>Dirección: </h5>
                        <p>@boleta.Direccion</p>
                        <p>@boleta.Referencia</p>
                        <h5>Detalle Pedido: </h5>
                    }cont++;
                    @foreach(var detalle in pedido.DetallePedidos)
                    {
                        <p>- x<span>@detalle.Cantidad</span> @detalle.Producto.Nombre <span>@detalle.TamañoProducto</span></p>
                    }
                }<br />
                @foreach(var pedido in boleta.Pedidos)
                {
                    <h5>Estado del pedido: </h5>
                    <form action="/Pedidos/ActualizarEstado?id=@boleta.Id&retorno=@ViewBag.Retorno" method="post">
                        <select class="form-select" name="estado" id="estado">
                            <option value="">-- Estado del Producto --</option>
                            @foreach(var item in ViewBag.Estados)
                            {
                                if(pedido.Estado == item.Id)
                                {
                                    <option value="@item.Id" selected>@item.Nombre</option>
                                }
                                else
                                {
                                    <option value="@item.Id">@item.Nombre</option>  
                                }                                                
                            }
                            @Html.ValidationMessage("EstadoPedido")
                        </select><br />
                        <button type="submit" class="btn btn-outline-primary">Actualizar Estado</button>
                    </form>                    
                    break;
                }
          </div>
          <div class="card-footer">
                @{int cont2 = 0;}
                @foreach(var pedido in boleta.Pedidos)
                {
                    if(cont2 == 0)
                    {
                        <p class="text-muted" style="display:inline;">Pedido realizado: @boleta.Fecha</p>
                    }cont2++;                    
                }
                
          </div>
        </div><br />
    }    
</body>